<main role="main">
    <section class="my-4">
        <div class="container">
            <h2>Cadastro de Colaboradores</h2>
        </div>
    </section>
</main>
<br>


<div>
    <form method="post" #frm="ngForm" (ngSubmit)="gravarColaborador(frm)">
        <section class="grid grid-collums">

            <div class="item">Nome</div>
            <div class="item">
                <input type="text" id="txtnome" name="nome" class="form-control" placeholder="Nome"
                    [(ngModel)]="colaborador.nome" required />
            </div>
            <div class="item">Sobrenome</div>
            <div class="item"> <input type="text" id="txtsobrenome" name="sobrenome" class="form-control"
                    placeholder="Sobrenome" [(ngModel)]="colaborador.sobreNome" required />
            </div>
            <div class="item">Cargo</div>
            <div class="item"><input type="text" id="txtcargo" name="cargo" class="form-control" placeholder="Cargo"
                    [(ngModel)]="colaborador.cargo" required />
            </div>
            <div class="item">Data Nasc.</div>
            <div class="item"><input type="text" id="txtdatanasc" name="datanasc" class="form-control"
                    placeholder="Data Nasc" [(ngModel)]="colaborador.dataNascimento" required />
            </div>

            <div class="item">Endereço</div>
            <div class="item"><input type="text" id="txtendereco" name="endereco" class="form-control"
                    placeholder="Endereco" [(ngModel)]="colaborador.endereco" />
            </div>
            <button type="submit" class="botaoEnviar1" style="display: block; margin: 0 auto;"
                [disabled]="frm.invalid">Gravar</button>
        </section>

    </form>
</div>
<section>
    <div>
        <input class="botaoEnviar1" type="button" value="Voltar" style="display: block; margin: 0 auto;"
            (click)='gotoPage()' target='/home'>


    </div>
</section>