
h2 {
    background-color: rgb(147, 192, 181);
    text-align: center;
   
}

.btn-btn-primary {
    background: #0066A2;    
    color: white;    
    border-style: inset;    
    border-color: #0066A2;    
    height: 40px;    
    width: 80px;    
    font: bold 15px arial, sans-serif;    
    text-shadow:none;    
    }


.grid {
    display: grid;
    width: 50%;
    grid-gap: 7px;
}
.grid-collums {
    grid-template-columns: 1fr 5fr;
}

.item {
    font-size: 1.0em;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
        
}

.form-control {
    width: 300px;
}