<main role="main">
    <section class="my-4">
        <div class="container">
            <h2>Pesquisa de Colaborador</h2>
        </div>
    </section>
</main>
<br>
<div>
    <section class="grid grid-collums">
        <div class="item">Pesquisar:</div>
        <input type="text" id="txtnome" name="nome" class="form-control" placeholder="digite aqui" />
        <button type="submit" class="btn-btn-primary">Pesquisar</button>
    </section>


    <div>
        <section class="grid grid-auto-rows-2">
            <div class="item__title">ID</div>
            <div class="item__title">Nome</div>
            <div class="item__title">Sobrenome</div>
            <div class="item__title">Cargo</div>
            <div class="item__title">Data Nasc</div>
            <div class="item__title">Endereço</div>
        </section>
    </div>
    <div>
        <section class="grid grid-auto-rows-2">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </section>

    </div>

</div>