.container {
    display: grid;
    &__button {
        margin: 0 auto;
        text-align: center;
        font-size: 1.0em;
        width: 45%;
        
        background-color:rgb(218, 238, 163);
    }    
}


h2 {
    background-color: rgb(147, 192, 181);
    text-align: center;
   
}



