.grid {
    display: grid;
}

.grid-auto-rows-2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: dense;
}

.alert-style {
    text-align: center;
    color: red;
}
.item {
    margin: 1px;
    padding: 5px;
    text-align: initial;
    background: rgb(224, 236, 192);
    font-size: 0.8em;
        font-family: 'Roboto', sans-serif;
    &__title {
        font-size: 1.0em;
        font-weight: bold;
        background: rgb(218, 238, 163);
        color: black;
        margin: 1px;
    text-align: initial;
    font-family: 'Roboto', sans-serif;
    }
}

.grid {
    width: 80%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    background-color:  rgb(236, 204, 161);
    font-family: 'Roboto', sans-serif;
}

.botaoEnviar{
    width: 180px;
    background: #0066A2;    
        color: white;  
    text-align: absolute;
        
        margin-left:280px;
        margin-top:50px;
        height: 40px;    
        width: 80px;
        top:50%; 
        left:50%;
    border: 1px solid #eee;
    border-radius: 6px;
    font: bold 15px arial, sans-serif;  
    

}

.botaoEnviar1{
    
    width: 90px;
    height: 40px;
    background: #0066A2;    
        color: white;      
    font: bold 15px arial, sans-serif; 
    border: 1px solid #eee; 
    border-radius: 6px;
    
    

}
